export(compute.sampling.multiplier)
export(compute.series)
export(compute.series.var)
export(create.match)
export(estimate.abundance)
export(extract.match.data)
export(fit.fS)
export(fit.gamma)
export(fit.migration.gam)
export(fit.pods)
export(fit.missed.pods)
export(fit.poisson)
export(io.glm)
export(io.glm)
export(create.podsize.calibration.matrix)
export(create.gsS)
export(psfit.gamma)
export(psfit.negbin)
export(psfit.poisson)
export(reilly.cf)
export(podsize.computations)


